.comments-iframe-container {
    max-width: unset;
}
.watch8 #watch-description-toggle .yt-uix-button-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
.watch-actions-stats-rats .stats-bragbar-container {
    width: 802px;
}
.watch-actions-stats-rats .stats-charts-container {
    width: 800px;
}
.watch-actions-stats-rats .stats-chart-menu {
    width: 800px;
}
.watch-actions-stats-rats .stats-chart-gviz {
    width: 800px;
}
.video-metric-section.table-row-view {
    width: 800px;
}
.google-chart-container div.google-chart {
    left: 488px;
}
.country-list-chart .country-list {
    width: 478px;
}
.distiller_content {
    padding: 20px 0px 0px 0px;
    border-top: 1px solid #e2e2e2;
}
#page.watch {
    padding-top: 10px;
}
.cardified-page .yt-card {
    padding: 15px ;
}
#watch-discussion {
    padding: 15px;
}
#watch7-headline {
    padding: 15px 15px 9px;
}
#watch7-user-header {
    padding: 0 15px 15px;
}
#watch7-action-buttons {
    padding: 0 15px;
}

.guide-flyout, .guide-collections-flyout {
    padding: 12px;
}
#search-secondary-col-contents {
    margin-top: 10px;
    margin-left: unset;
}
.branded-page-v2-secondary-col #watch7-sidebar .watch-sidebar-section {
    margin-left: unset;
}
.cardified-page.exp-individual-cards-watch #watch7-sidebar {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.watch-card-rhs {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 315px;
}
.watch8 #watch-description-toggle {
    margin-top: 20px;
}
.site-center-aligned.flex-width-enabled .feeds-mode .yt-shelf-grid-item {
    width: 190px;
    margin-right: 8px;
}

.feed-item-container.browse-list-item-container.yt-card {
    margin: unset;
}

.individual-feed {
    margin-top: 10px;
}
.cardified-page.exp-individual-cards .branded-page-v2-secondary-col {
    padding-top: 0px;
}
.cardified-less .branded-page-v2-primary-col .branded-page-box, .cardified-less .branded-page-v2-primary-col .branded-page-box-padding {
    margin-top: 0px;
    margin-bottom: 0px;
}
.cardified-less .branded-page-v2-primary-col .branded-page-gutter-padding, .cardified-less .branded-page-v2-header .branded-page-gutter-padding {
    margin-top: unset;
    margin-bottom: unset;
}
div#gh-activityfeed.branded-page-v2-body.branded-page-v2-primary-column-content {
    margin-top: 10px;
}

.yt-scrollbar ::-webkit-scrollbar-track {
    border-left: unset;
    -webkit-box-shadow: unset;
}

.view_manager-entity > #body-container {
    padding-bottom: 35px;
}

.distiller_yt-sb .oz-comment_post-dismiss {
    top: 88px;
    right: 64px;
    background: #f8f8f8;
    border: 1px solid #d3d3d3;
    height: 26px;
    width: 52px;
    border-radius: 2px;
    min-width: 34px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 27px;
}
.distiller_yt-sb .oz-comment_post-dismiss:hover {
    background: #f0f0f0;
    border-color: #c6c6c6;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}
.distiller_yt-sb .oz-comment_post-dismiss:active {
    background: #e9e9e9;
    border-color: #c6c6c6;
    box-shadow: inset 0 1px 0 #ddd;
}
div.oz-dismiss-button.oz-comment_post-dismiss:after {
    content: 'Cancel';
    color: #333;
}
.oz-dismiss-button {
    opacity: unset;
}
.oz-notification:hover .oz-dismiss-button, .oz-comment_post-dismiss:hover, .oz-widget-dismiss:hover {
    opacity: unset;
}
.oz-notification:hover .oz-dismiss-button, .oz-comment_post-dismiss:active, .oz-widget-dismiss:active {
    opacity: unset;
}
.distiller-button.jfk-button-action {
    border-color: #1b7fcc;
    background: #1b7fcc;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    height: 26px;
    float: right;
    padding: 0 10px 0 10px;
    min-width: 34px;
}
.distiller-button.jfk-button-action:hover {
    background: #126db3;
}
.distiller-button.jfk-button-action:active {
    background: #095b99;
}
.distiller_yt-sb .action_bar .right_actions {
    float: unset;
}
.distiller_yt-sb {
    margin: unset;
}
.livestream_chat .create_message .distiller_yt-sb .action_bar .jfk-button-action {
    border-color: #1b7fcc;
    background: #1b7fcc;
    color: #fff;
}
.livestream_chat .create_message .distiller_yt-sb .action_bar .jfk-button-action:hover {
    background: #126db3;
}
.livestream_chat .create_message .distiller_yt-sb .action_bar .jfk-button-action:active {
    background: #095b99;
}
.livestream_chat .create_message .distiller_yt-sb .oz-comment_post-dismiss {
    background: no-repeat url(https://ssl.gstatic.com/s2/oz/images/sprites/notsg-eb27f5870940f5aacf4b28805c7d5ad3.png) -18px -598px;
    height: 16px;
    width: 16px;
    min-width: 16px;
    border: unset;
    right: 83px;
    opacity: .27;
    box-shadow: unset;
}
.livestream_chat .create_message .distiller_yt-sb .oz-comment_post-dismiss:after {
    content: unset;
}
.livestream_chat .create_message .distiller_yt-sb .oz-comment_post-dismiss:hover {
    opacity: .5;
}
.livestream_chat .create_message .distiller_yt-sb .oz-comment_post-dismiss:active {
    opacity: .7;
}
.yt-uix-button-primary, .yt-uix-button-primary[disabled], .yt-uix-button-primary[disabled]:hover, .yt-uix-button-primary[disabled]:active, .yt-uix-button-primary[disabled]:focus {
    float: right;
    position: relative;
}
.jfk-button[disabled] {
    pointer-events: unset;
    opacity: unset;
    background: #f8f8f8;
    border: 1px solid #d3d3d3;
    font-weight: bold;
    font-size: 11px;
}
.distiller-dropdown-button:hover {
    background: #f0f0f0;
    border-color: #c6c6c6;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}
.yt-uix-button[disabled], .yt-uix-button[disabled]:hover, .yt-uix-button[disabled]:active, .yt-uix-button[disabled]:focus {
    opacity: unset;
}
.jfk-button-standard:active, .jfk-button-standard:hover:active {
    background: #e9e9e9;
    border-color: #c6c6c6;
    box-shadow: inset 0 1px 0 #ddd;
    color: unset;
    opacity: unset;
}
#watch7-player-age-gate-content button, #watch7-player-age-gate-content .date-selector {
    float: left;
}
.distiller-post-embed .distiller_yt-thread .thread .post .action_bar {
    margin-top: 10px;
}

/*.view_manager-entity > #body-container {
    min-height: 100%;
}
.view_manager-entity #footer-container {
    bottom: 0px;
    width: 100%;
    position: absolute;
}
*/
div.view_manager-entity {
    height: 780px;
}

div#watch7-playlist-tray-container.watch-sidebar.yt-scrollbar.yt-scrollbar-wide.yt-scrollbar-dark.player-height {
    width: 410px;
    max-width: 410px;
}
div.watch7-playlist-bar-right.yt-uix-button-panel {
    width: 410px;
    max-width: 410px;    
}
div#playlist-tray.playlist-tray {
    width: 1277px;
}
.appbar-flexwatch-mini.site-center-aligned #player, .appbar-flexwatch-mini.site-center-aligned #page.watch #content {
    width: 1258px;
}
div.watch7-playlist-bar {
    width: 1264px;
}

span.subscribe-label:after {
    content: 'Subscribe';
    font-size: 12px;
}
span.subscribe-label {
    font-size: 0px;
}
span.subscribed-label:after {
    content: 'Subscribed';
    font-size: 12px;
}
span.subscribed-label {
    font-size: 0px;
}
span.unsubscribe-label:after {
    content: 'Unsubscribe';
    font-size: 12px;
}
span.unsubscribe-label {
    font-size: 0px;
}

.appbar-mini-cinema #player.watch-medium:before {
    animation: .3s ease teather
}
@keyframes teather {
0% {
    background-color: transparent;
}
100% {
    background-color: #1b1b1b;
}
}

span.watch-title-text-container {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
}
#watch7-headline {
    padding: 15px 15px 10px;
}
#watch7-headline.yt-uix-expander-collapsed h1 {
    margin-bottom: unset;
}
#watch7-headline h1 {
    line-height: unset;
}

div.yt-alert.yt-alert-default.yt-alert-success {
    margin-top: 20px;
}

.pl-video-list .playlist-pager {
    margin: 15px 30px;
}
